body {
    font-size: 16px;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: #0F141E;
    background: #F1F1F1;
}


@media (max-width: 320px) {
.info {
    text-align: center;
}
h1 {
    text-align: center;
}
}




.borders {
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 1);
   width: 300px;

}


.container {
max-width: 750px;
margin: auto;
padding-top: 30px;
}


.card {
border-radius: 20px;
border: 1px solid black;
padding: 10px;
margin-bottom: 10px;
}


.color1 {
background-color: #e4e8ff;
}

.color2 {
background-color: #ede4ff;
}

.color3 {
background-color: #fee3ec;

}

 table {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 5px;
}
th, td {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
} 





.table {
    width: 100%;
}

.table td {
  padding-left: 10px;
}


.table td:nth-child(2) {
    color: #6a9bfc;
}


.table td:last-child {
color: #6a9bfc;
}


.table td:first-child {
    color: #6a9bfc;
}


.list {
    padding: 0 20px;
}


.list li {
color: #86898f;
margin-bottom: 10px;
}


.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.info {
    margin-bottom: 20px;
    margin-top: 20px;
}

a {
    color: blue;
    text-decoration: none;
}

/* a:hover - когда наводимся на ссылку */
a:hover {
    text-decoration: underline;
}

/* a:active - когда нажимаю делается синей */
a:active {
    color: black;
}

/* a:visited - если ссылка посещалась */
a:visited {
    color: rgb(145, 145, 145);
}


.footer {
    border-style: dotted ;
    border-color: black;
    padding: 0px 20px 20px 20px;
    border-radius: 20px;
}

.btn {
    background: black;
    padding: 15px 20px;
    color: white;
    border: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    opacity: 0.8;
}

.form h2 {
    text-align: center;  /* отцентровать форму */
}


.form-row {
margin-bottom: 10px;
display: flex;
}

@media (max-width: 290px) {
    .form-row {
        display: block;
    }
    .form-group {
        padding-bottom: 20px;
    }
    }

.form-row .form-group {
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* width: calc(50% - 20px); */
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #6a9bfc;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none; /*  убирает обводку */
    font-family: inherit;

}